* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: -webkit-sticky;
    position: sticky;  
}

header {
    height: 50vw;
    width: 100vw;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* padding: 160px 0; */
}   

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    width: 200px;
    border: 5px solid white;
    border-radius: 45%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.header-content h1 {
    background-color: white;
    /* width: 30%; */
    margin-top: 10px;
    font-size: 48px;
    text-align: center;
}

.header-content nav {
    margin-top: 100px;
    width: 100%;
}

.header-content nav ul {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.header-content nav ul li {
    list-style: none;
    margin: 20px 10px;
}

.header-content nav ul li a {
    text-decoration: none;
    font-size: 28px;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    font-weight: lighter;
    border: 5px solid white;
    border-radius: 30%;
    padding: 10px;
    color: black;
    background: white;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0);
    border-radius: 30%;
    text-shadow: none;
}

#about-me {
    width: 50%;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-projects {
    width: 75%;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-me {
    width: 50%;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    font-size: 40px;
    /* width: 30%; */
}

.section-paragraph {
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#my-projects img {
    width: 300px;
    border: 5px solid white;
}

#projects-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#projects-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

#projects-icons img:hover {
    width: 400px;
}

@media screen and (max-width: 980px){

    header {
        flex-direction: row;
        margin-top: 100px;
        align-items: flex-start;
        height: 100vw;
        /* padding: 60px 0; */
    }

    .header-content h1 {
        width: 100%;
        font-size: 78px;
        margin-top: 85px;
        background-color: rgba(0, 0, 0, 0);
    }

    /* .header-content nav {
        display: flex;
    } */

    .header-content nav ul {
        flex-direction: column;
        padding-right: 250px;
        line-height: 2;

    }

    .header-content nav ul li a {
        font-size: 58px;
    }

    .profile-pic img {
        width: 300px;
        margin-bottom: 50px;
    }
    
    #about-me {
        margin-top: 320px;
        width: 100%;
    }

    #my-projects {
        width: 100%;
    }

    #projects-icons {
        width: 80%;
    }

    #contact-me {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section-paragraph {
        text-align: center;
        width: 90%;
    
    }

    .section-paragraph p {
        font-size: 48px;
        text-align: center;
    }

    #projects-icons {
        align-items: center;
        justify-content: center;
    }

    #projects-icons a img {
        width: 100%;
    }

}

@media screen and (max-width: 575px){

    .header-content {
        flex-direction: column;
    }
}